html {
    box-sizing: border-box;
    font-size: 62.5%; /*1 REM == 10 Px*/
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-size: 1.6rem;

}

/* GLOBALES */

h1, h2, h3 {
    font-family: "Playfair Display", serif;
}

h3 {
    font-size: 3rem;
}

a {
    text-decoration: none;
    color: black;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

/** HEADER Y NAVEGACION **/

.nombre-sitio {
    color: aqua;
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
    font-size: 4rem;
}

.nombre-sitio span {
    color: #037bc0;
}

.contenedor-navegacion {
    border-top: 1px solid aquamarine;
}

.nav-principal {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
}

.hero {
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 55rem;
}

/* BOX MODEL */

.sobre-nosotros {
    background-color: aqua;
    width: 30rem;
    padding: 3rem;
    box-sizing: border-box;
}

.sobre-empresa {
    background-color: beige;
    width: 50rem;
    padding: 10rem;
}

/* DISPLAYS */

/** CATEGORIAS **/
.categorias h2 {
    text-align: center;
}
.categoria a {
    text-align: center;
    display: block;
    padding: 2rem;
    font-size: 2rem;
}
.categoria a:hover {
    background-color: #037bc0;
    color: #ffffff;

    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}
.listado-categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

